<template>
    <div>
        <div class="page-header pr-0">
            <h2><a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a></h2>
            <ol class="breadcrumbs">
                <li class="active"><span>Ordenes de trabajo</span></li>
            </ol>
            <div class="right-wrapper pull-right">
                <a :href="`/${resource}/create`" class="btn btn-custom btn-sm  mt-2 mr-2"><i class="fa fa-plus-circle"></i> Nuevo</a>
            </div>
        </div>
        <div class="card mb-0">
            <div class="data-table-visible-columns">
                <el-dropdown :hide-on-click="false">
                    <el-button type="primary">
                        Mostrar/Ocultar columnas<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(column, index) in columns" :key="index">
                            <el-checkbox v-model="column.visible">{{ column.title }}</el-checkbox>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
            <div class="card-body">
                <data-table :resource="resource" :typeUser="typeUser" :soapCompany="soapCompany" >
                    <tr slot="heading">
                        <th>#</th>
                        <th class="text-center">Fecha Emisión</th>
                        <th class="text-center" >Servicio/Carga</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Placa</th>
                        <th>Estado</th>
                        <th>Orden de T</th>
                        <th>Comprobantes</th>
                        <th v-if="columns.sale_notes.visible">Notas de venta</th>
                        <!-- <th>Estado</th> -->
                        <th class="text-center">Moneda</th>
                        <th class="text-right" v-if="columns.total_exportation.visible">T.Exportación</th>
                        <th class="text-right" v-if="columns.total_unaffected.visible">T.Inafecta</th>
                        <th class="text-right" v-if="columns.total_exonerated.visible">T.Exonerado</th>
                        <th class="text-right" v-if="columns.total_taxed.visible">T.Gravado</th>
                        <th class="text-right" v-if="columns.total_igv.visible">T.Igv</th>
                        <th class="text-right">Total</th>
                        <th class="text-center">PDF</th>
                        <th class="text-right">Acciones</th>
                    <tr>
                    <tr slot-scope="{ index, row }" :class="{ anulate_color : row.state_type_id == '11' }">
                        <td>{{ index }}</td>
                        <td class="text-center">{{ row.date_of_issue }}</td>
                        <td class="text-center">{{ row.servicio }}</td>
                        <td>{{ row.user_name }}</td>
                        
                        <td>{{ row.customer_name }}<br/><small v-text="row.customer_number"></small></td>
                       <td>{{ row.placa }}</td>
                        <td>{{row.state_type_description}}</td>
                        <td>{{ row.identifier }}
                        </td>
                        <td>
                            <template v-for="(document,i) in row.documents">
                                <label :key="i" v-text="document.number_full" class="d-block"></label>
                            </template>
                        </td>
                        <td v-if="columns.sale_notes.visible">
                            <template v-for="(sale_note,i) in row.sale_notes">
                                <label :key="i" v-text="sale_note.identifier" class="d-block"></label>
                            </template>
                        </td>
                        <!-- <td>{{ row.state_type_description }}</td> -->
                        <td class="text-center">{{ row.currency_type_id }}</td>
                        <td class="text-right"  v-if="columns.total_exportation.visible" >{{ row.total_exportation }}</td>
                        <td class="text-right" v-if="columns.total_unaffected.visible">{{ row.total_unaffected }}</td>
                        <td class="text-right" v-if="columns.total_exonerated.visible">{{ row.total_exonerated }}</td>
                        <td class="text-right" v-if="columns.total_taxed.visible">{{ row.total_taxed }}</td>
                        <td class="text-right" v-if="columns.total_igv.visible">{{ row.total_igv }}</td>
                        <td class="text-right">{{ row.total }}</td>
                        <td class="text-right">

                            <button type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickOptionsPdf(row.id)">PDF</button>
                        </td>

                        <td class="text-right">
                            <button   type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickOptions(row.id)" >Generar comprobante</button>

                            <a  :href="`/${resource}/edit/${row.id}`" type="button" class="btn waves-effect waves-light btn-xs btn-info">Editar</a>
                            <button v-if="row.documents.length == 0 && row.state_type_id != '11'" type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickAnulate(row.id)">Anular</button>
                            <button @click="duplicate(row.id)"  type="button" class="btn waves-effect waves-light btn-xs btn-info">Duplicar</button>
                             <button @click="limpiar(row.id)"  type="button" class="btn waves-effect waves-light btn-xs btn-info">limpiar</button>
                            <a :href="`/dispatches/create/${row.id}/on`" class="btn waves-effect waves-light btn-xs btn-warning m-1__2">Guía</a>


                        </td> 
                        <td class="text-right">
                            <button  type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickOptionsgastos(row.id,row.placa,row.vehiculo_id)" >Gastos/Estibaje</button>
                                    <button  type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickOptionsgastosotros(row.id)" >Lista de Gastos/Estibaje</button>
                                    <!-- <button  type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickOptionsgastocombustiblehyo(row.id)" >Combustible</button>
                                    <button  type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickOptionsgastocombustiblelima(row.id)" >Comb Lima</button>
<button  type="button" class="btn waves-effect waves-light btn-xs btn-info"
                                    @click.prevent="clickOptionsestibaje(row.id)" >Estibaje</button>  -->
                           


                        </td>

                    </tr>
                </data-table>
            </div>


            <quotation-options :showDialog.sync="showDialogOptions"
                              :recordId="recordId"
                              :showGenerate="true"
                              :showClose="true"></quotation-options>

            <quotation-optionsgastos :showDialog.sync="showDialogOptionsgastos"
                              :recordId="recordId"
                              :placavariable="placavariable"
                              :idvariable="idvariable"
                              :showGenerate="true"
                              :showClose="true"></quotation-optionsgastos>

            <quotation-optionsgastosotros :showDialog.sync="showDialogOptionsgastosotros"
                              :recordId="recordId"
                              
                              :showGenerate="true"
                              :showClose="true"></quotation-optionsgastosotros>
            <quotation-optionscombustiblehyo :showDialog.sync="showDialogOptionscombustiblehyo"
                              :recordId="recordId"
                              :showGenerate="true"
                              :showClose="true"></quotation-optionscombustiblehyo>
             <quotation-optionscombustiblelima :showDialog.sync="showDialogOptionscombustiblelima"
                              :recordId="recordId"
                              :showGenerate="true"
                              :showClose="true"></quotation-optionscombustiblelima>
            <quotation-optionsestibaje :showDialog.sync="showDialogOptionsestibaje"
                              :recordId="recordId"
                              :showGenerate="true"
                              :showClose="true"></quotation-optionsestibaje>

            <quotation-options-pdf :showDialog.sync="showDialogOptionsPdf"
                              :recordId="recordId"
                              :showClose="true"></quotation-options-pdf>
        </div>
    </div>
</template>
<style scoped>
    .anulate_color{
        color:red;
    }
</style>
<script>

    import QuotationOptionsgastos from './partials/form.vue'
    import QuotationOptionsgastosotros from './partials/payments.vue'
    import QuotationOptionscombustiblehyo from './partials/combustiblehyo.vue'
    import QuotationOptionscombustiblelima from './partials/combustiblelima.vue'
    import QuotationOptionsestibaje from './partials/estibaje.vue'
    import QuotationOptions from './partials/options.vue'
    import QuotationOptionsPdf from './partials/options_pdf.vue'
    import DataTable from '../../components/DataTable.vue'
    import {deletable} from '@mixins/deletable'

    export default {
        props:['typeUser', 'soapCompany'],
        mixins: [deletable],
        components: {DataTable,QuotationOptions, QuotationOptionsPdf,QuotationOptionsgastos,QuotationOptionsgastosotros,QuotationOptionscombustiblehyo,QuotationOptionscombustiblelima,QuotationOptionsestibaje},
        data() {
            return {
                resource: 'order-notes',
                recordId: null,
                placavariable: null,
                idvariable: null,
                showDialogOptions: false,
                showDialogOptionsgastos: false,
                showDialogOptionsgastosotros: false,
                showDialogOptionscombustiblehyo: false,
                showDialogOptionscombustiblelima: false,
                showDialogOptionsestibaje: false,
                showDialogOptionsPdf: false,
                columns: {
                    total_exportation: {
                        title: 'T.Exportación',
                        visible: false
                    },
                    total_unaffected: {
                        title: 'T.Inafecto',
                        visible: false
                    },
                    total_exonerated: {
                        title: 'T.Exonerado',
                        visible: false
                    },
                    total_taxed: {
                        title: 'T.Gravado',
                        visible: true
                    },
                    total_igv: {
                        title: 'T.IGV',
                        visible: true
                    },
                    delivery_date: {
                        title: 'F.Entrega',
                        visible: true
                    },
                    sale_notes: {
                        title: 'Notas de venta',
                        visible: true
                    },
                }
            }
        },
        created() {
        },
        methods: {
            clickEdit(id)
            {
                this.recordId = id
                this.showDialogFormEdit = true
            },
            clickOptions(recordId = null) {
                this.recordId = recordId
                this.showDialogOptions = true
            },
            clickOptionsgastos(recordId = null,placa,idv) {
                 this.recordId = recordId
                this.placavariable =  placa
                this.idvariable = idv
                console.log(placa,idv)
                this.showDialogOptionsgastos = true
            },
            clickOptionsgastosotros(recordId = null) {
                 this.recordId = recordId
                this.showDialogOptionsgastosotros = true
                
            },
             clickOptionsgastocombustiblehyo(recordId = null) {
                this.recordId = recordId
                this.showDialogOptionscombustiblehyo = true
            },
               clickOptionsgastocombustiblelima(recordId = null) {
                this.recordId = recordId
                this.showDialogOptionscombustiblelima = true
            },
            clickOptionsestibaje(recordId = null) {
                this.recordId = recordId
                this.showDialogOptionsestibaje = true
            },
            clickOptionsPdf(recordId = null) {
                this.recordId = recordId
                this.showDialogOptionsPdf = true
            },
            clickAnulate(id)
            {
                this.voided(`/${this.resource}/voided/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            duplicate(id)
            {
                this.$http.post(`${this.resource}/duplicate`, {id})
                .then(response => {
                    if (response.data.success) {
                        this.$message.success('Se guardaron los cambios correctamente.')
                        this.$eventHub.$emit('reloadData')
                    } else {
                        this.$message.error('No se guardaron los cambios')
                    }
                })
                .catch(error => {

                })
                this.$eventHub.$emit('reloadData')
            },
            limpiar(id)
            {
                this.$http.post(`${this.resource}/limpiar`, {id})
                .then(response => {
                    if (response.data.success) {
                        this.$message.success('Se guardaron los cambios correctamente.')
                        this.$eventHub.$emit('reloadData')
                    } else {
                        this.$message.error('No se guardaron los cambios')
                    }
                })
                .catch(error => {

                })
                this.$eventHub.$emit('reloadData')
            }
        }
    }
</script>
